# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# =========================
# .NET / C#
# =========================

# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Rider / VS Code / VS
.vs/
.vscode/
.idea/

# Logs
*.log

# ASP.NET Core
appsettings.Development.json

# Publish output
publish/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# OS files
.DS_Store
Thumbs.db

# Test results
TestResults/
*.trx

# Resharper
_ReSharper/
*.DotSettings.user